@import url('https://fonts.googleapis.com/css?family=Roboto');

.container{
    font-family: 'Roboto';
    /* background-color: #1abc9c; */
    background-image: linear-gradient(173deg, #2e2a6d, #3608a5);
    position: absolute;
    height: 100%;
    width: 100%;
    display: grid;
}

.horecamind-logo{
    font-size: 54px;
  color: #ffffff;
  font-family: Roboto;
  margin-bottom: 0px;
  font-weight: 400;
  width: 316px;
  height: 54px;
  margin-bottom: 18px;
  margin-left: 94px;
  
}
.form-bg{
    float: left;
    padding-left: 94px;
}

.horecamind-logo>span {
  font-size: 54px;
  color: #ffffff;
  font-family: Roboto;
  margin-bottom: 0px;
  font-weight: 900;
}
.cms-control {
  width: 316px;
  height: 26px;
  font-family: Roboto;
  font-size: 20px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.3;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
  margin-bottom: 45px;
  margin-left: 94px;
}

.card{
    width: 500px;
    height: 666px;
    border-radius: 10px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    background-color: #ffffff;
    float: right;
    margin-top: 51px;
    margin-right: 90px;

}

.card > form{
    display: flex;
    align-content: center;
    flex-direction: column;
    padding: 61px;
}

.card h1{
    width: 93px;
  height: 39px;
  font-family: Roboto;
  font-size: 30px;
  font-weight: 900;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.3;
  letter-spacing: 1.5px;
  text-align: left;
  color: #2e2a6d;
    margin-bottom: 35px;
    margin-left: 28px;
}

.form-item{
    font-family: 'Roboto';
    width: 400px;
  height: 50px;
  border-radius: 5px;
  border: solid 1px #c2c2c2;
  background-color: #ffffff;
  margin-top: 14px;
  margin-bottom: 28px;
  margin-right: 50px;
  margin-left: 50px;
}

.form-submit{
    font-family: 'Roboto';
    width: 180px;
    height: 50px;
    border-radius: 5px;
    background-color: #cb9656;
    letter-spacing: 0.2rem;
    transition: 0.3s opacity ease;
    cursor: pointer;
    margin-left: 160px;
    margin-top: 30px;
}
.form-submit:hover{
   opacity: 0.6;
}

label{
    width: 36px;
  height: 19px;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.36;
  letter-spacing: 0.56px;
  text-align: left;
  color: #2e2a6d;
  margin-left: 50px;
  margin-right: 50px;
}
